<%= form_with(model: @blog, local: true ,url: choose_new_or_edit ) do |form| %>
 <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="top">
    <div class="title">
      <%= form.label :content, class:"content_font" %>
      <%= form.text_field :content %>
      　<p><%= form.submit "ツイート", class:"btn"%>
      　　<%= link_to "ツイート一覧画面へ", blogs_path,{class:"btn_link"}%>
      　</p>
    </div>
  </div>
  <% end %>
