<h3>以下の内容で、ツイートする。</h3>
<%= form_with(model: @blog, local: true) do |form| %>
  <%= form.hidden_field :content %>
    <div class="top">
      <div class="content_font">content</div>
      　<p><%= @blog.content %></p>
        <%= form.submit  "ツイート", :class=>"btn"%>
        <%= form.submit "戻る", name: 'back' ,:class=>"btn"%>
    </div>
<% end %>



